#small-groups{
   background: url("../images/small-groups.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 55px;
    padding-bottom: 55px;  
}
.pSmall{
    color: white;
    font-size: 19px;
    text-align: center; 
    margin-bottom: 30px; 
}
.img-rounded{
    min-width: 210px;
    max-width: 210px;
    width: 210px;
    height: 165px;
    min-height: 165px;
    max-height: 165px; 
}
figure > img{
    display: block;
    margin: 0 auto;
}
figure{
    display: inline-table;
    margin-bottom: 50px; 
}
figcaption{
    text-align: center; 
    margin-top: 10px; 
}
div figure{
    padding-left: 50px;  /* applies to every figure*/
}

div figure:first-child {
    padding-left: 0px; /* limits the scope of the previous rule */
}
#gc-number-0
{
    color: white;
    text-decoration: none; 
}
.fullBg {
    top: 0;
    width: 90%;
    display:block;
    margin: auto;  
}
figure:focus, div.ng-isolate-scope:focus{
    border: none; 
    outline: none !important; 
}
.popover{
    max-width: 450px !important;
    width: 450px; 
}