#topPart{
    background: url(https://images.unsplash.com/reserve/m6rT4MYFQ7CT8j9m2AEC_JakeGivens%20-%20Sunset%20in%20the%20Park.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1920&h=1275&q=80) no-repeat center center;
    height: 350px; 
}
#map {
    height:450px;
    width:100%;
}
#info{
    text-align: center; 
    padding-top: 7em;
    padding-bottom: 7em;
}
span.glyphicon{
    font-size: x-large;
}
.icons{
    margin: 1em;
}
.subtitle{
    font-weight: 600;
    margin-bottom: 1em; 
}
#gc-number-0{
    color: black !important; 
}
.border{
    border-top: lightgray solid 1px;
    padding-top: 10px; 
    border-bottom: lightgray solid 1px;
    padding-bottom: 20px;
}
h2.map{
    font-size: 15px; 
}