<!doctype html>
<html ng-app="website">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Connect</title>
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" type="image/ico" href="images/favicon.ico" />
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/about.css">
    <link rel="stylesheet" href="styles/connect.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
    <body ng-controller="MainCtrl">
        <navbar></navbar>
        <!--SlideShow -->
        <div class="row">
          <img ng-show="loaded" bg-image class="fullBg {{currentAnimation}}" ng-repeat="slide in slides"
              ng-if="isCurrentSlideIndex($index)"
              ng-src="{{slide.src}}">
        </div>

        <!-- Calendar -->
        <div class="row" id="calendar">
            <div class="container">

            </div>
        </div>

        <!-- Small Groups -->
        <div class="row" id="smallGroups">
            <div class="container">
                <div class="col-md-12">
                    <h4 class="title title_regular responsive_text" style="margin-bottom: 50px;color:grey;text-align:left;">
                        Small Groups Schedule
                    </h4>
                </div>
                <div class="col-md-12" style="padding-bottom: 30px">
                    <p class="eng">{{ descripEnglish }}</p>
                    <p class="esp">{{ descripSpanish }}</p>
                </div>
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Language</th>
                            <th>Leader</th>
                            <th>Focus Group</th>
                            <th>Meeting Place</th>
                            <th>Days/Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="group in groups">
                            <td>{{group.lang}}</td>
                            <td>{{group.leader}}</td>
                            <td>{{group.focus}}</td>
                            <td>{{group.meeting}}</td>
                            <td>{{group.day}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Verse -->
        <div id="freeSection" class="row">
            <div class="container">
                "Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.""
            </div>
        </div>

        <!-- Ministries -->
        <div class="row" id="ministriesGroups">
            <div class="container">
                <div class="col-md-12">
                    <h4 class="title title_regular responsive_text" style="margin-bottom: 50px;color:grey;text-align:left;">
                        Ministries
                    </h4>
                </div>
                <div class="col-sm-12" ng-repeat="ministry in ministries" style="margin-bottom: 10px">
                    <div class="col-sm-4 side">
                        <p class="typeGroup">{{ministry.title}}</p>
                    </div>
                    <div class="col-sm-7 col-xs-offset-1 side">
                        <p class="explanation">{{ministry.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <footer></footer>
        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.1/TweenMax.min.js"></script>
        <script src="http://code.createjs.com/preloadjs-0.4.1.min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/slideshow.js"></script>
        <!-- endbuild -->
    </body>
</html>
