<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PenielChurch</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" type="image/ico" href="images/favicon.ico" />
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/connect.css">
    <link rel="stylesheet" href="styles/ministry.css">
    <link rel="stylesheet" href="styles/about.css">
    <link rel="stylesheet" href="styles/contact.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="myApp" ng-controller="NavCtrl">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- navbar --> 
    <nav class="navbar navbar-default" >
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#/">
          <div class="navbar-brand" style="padding-top: 0">
            <img style="height: 2.5em; display: inline-block; vertical-align: middle; " src="images/logo.png" /> 
            <div style="color: black; display: inline-block"> {{churchName}}</div>
          </div>
        </a>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ng-if="items.subtopics" class="dropdown" ng-repeat="items in navItems">
              <a href="{{items.url}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{items.topic}}</a>
              <ul class="dropdown-menu">
                <li ng-repeat="subs in items.subtopics"><a href="{{subs.url}}">{{subs.title}}</a></li>
              </ul>
            </li>
            <li ng-if="items.subtopics == null" ng-repeat="items in navItems"><a href="{{items.url}}">{{items.topic}}</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- ng-view -->
    <ng-view></ng-view>

    <!-- Footer --> 
    <div class="col-md-12 footer" style="background-color: #484848;">
      <div class="container">
        <div class="col-md-6">
          <p><a href="#/prayerRequest">Prayer Requests</a></p>
        </div>
        <div class="col-md-6" style="text-align: right; ">
          <div>
            <div style="display: inline; margin-right: 7px">Connect With Us Socially</div>
            <a href="https://www.facebook.com/PenielOrlando/?fref=ts"><img  class="footer-img" alt="facebook" src="/images/facebook-3-32.png" /></a>
          </div>
          <p style="margin-top:5px; ">{{churchName}}	&#169; 2016</p>
        </div>
      </div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.1/TweenMax.min.js"></script>
    <script src="http://code.createjs.com/preloadjs-0.4.1.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <script src="/bower_components/angular-filter/dist/angular-filter.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/IndexCtrl.js"></script>
    <script src="scripts/routeProvider.js"></script>
    <script src="scripts/homeCtrl.js"></script>
    <script src="scripts/aboutCtrl.js"></script> 
    <script src="scripts/contactCtrl.js"></script>
    <script src="scripts/connectCtrl.js"></script>
    <script src="scripts/ministryCtrl.js"></script>
    <!-- endbuild -->
  </body>
</html>
