<!-- Events -->
<h4 class="title_regular align_left responsive_text" style="margin-bottom: 1.5rem;text-align:left;font-size: 2.667rem;" translate="UPCOMINGEVENTS"></h4>
<div>
    <a href="https://calendar.google.com/calendar/embed?src=ofo0ohu3njn0fe3msq3fg0fevk@group.calendar.google.com&ctz=America/New_York&pli=1" style="color: blue" translate="CLICKHERE"></a> {{ 'VIEWCONNECTEVENTS' | translate }} 
</div>
<!--<table class="table">
    <tbody >
        <tr ng-repeat="x in myData|limitTo:15">
            <td ng-if="x.start.dateTime" style="text-align: center;">{{x.start.dateTime | date: "d"}}<br />{{x.start.dateTime | date: "EEEE"}}</td>
            <td ng-if="!x.start.dateTime" style="text-align: center;">{{x.start.date | date: "d"}}<br />{{x.start.date | date: "EEEE"}}</td> 
            <td class="vertical-align">{{x.summary}}</td>
            <td class="vertical-align" ng-if="x.start.dateTime"><span class="glyphicon glyphicon-time" style="font-size: small;" aria-hidden="true"></span> {{x.start.dateTime | date: "h a"}}</td>
            <td class="vertical-align" ng-if="!x.start.dateTime"> All Day</td>
        </tr>
    </tbody>
</table> -->