<h2>{{ 'SMALLGROUPS' | translate }}</h2>
<div style="margin-top: 2em">
    <div style="display: table;">
        <div class="col-xs-3 display-div-center"><img src="images/smallGroups.png" /></div>   
        <div class="col-xs-9 display-div-center" ng-cloak>{{ 'SMALLGROUPSDESP'| translate }} <a style="color: #23527c" href="https://www.facebook.com/penielsmallgroups/" translate="FACEBKLINK"></a></div>
    </div>
    <!-- Language --> 
    <div class="for-group" style="margin-top: 1em; ">
        <select class="form-control" ng-model="langDropDown" id="lang">
            <option disabled selected value translate="LANGUAGE"></option>
            <option value="english" translate="BUTTON_TEXT_EN">English</option>
            <option value="spanish" translate="BUTTON_TEXT_ESP">Spanish</option>
        </select>
    </div>
    <!-- Gender --> 
    <div class="for-group" ng-show='langDropDown != null' style="margin-top: 1em; ">
        <select class="form-control" id="sel1" ng-model="focusDropDown">
            <option disabled selected value translate="FOCUSGROUP"></option>
            <option value="{{item.focus}}" ng-repeat="item in smallGroups | unique: 'focus'" ng-cloak>{{item.focus}}</option>
        </select>
    </div>
</div>
<table ng-show='focusDropDown != null || seeAll' class="table table-striped" style="margin-top: 2em;">
    <thead>
        <th ng-if="seeAll">Language</th>
        <th ng-if="seeAll">Focus</th>
        <th ng-repeat="item in columns" ng-cloak>{{item}}</th>
    </thead>
    <tbody>
        <tr ng-repeat="item in smallGroups  | filter: {lang: langDropDown} | filter : {focus: focusDropDown} : true">
            <td ng-if="seeAll">{{item.lang}}</td>
            <td ng-if="seeAll">{{item.focus}}</td>
            <td>{{item.leader}}</td>
            <td>{{item.meeting}}</td>
            <td>{{item.day}}</td>
        </tr>
    </tbody>
</table>